
/* ===================================== */
/* GALLERY */
/* ===================================== */

.linniel_gallery{
    width:100%;
    max-width:400px;
    margin:auto;
    padding:20px 12px;
}

.linniel_gallery img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

/* FOTO */

.foto{
    overflow:hidden;
    cursor:pointer;
    border:4px solid white;
    background:white;
}

.foto img{
    transition:0.5s;
}

.foto:hover img{
    transform:scale(1.05);
}

/* ROW */

.gallery_row_1,
.gallery_row_2,
.gallery_row_3,
.gallery_row_5{
    display:flex;
    gap:10px;
    margin-bottom:10px;
}

.gallery_row_4{
    margin-bottom:10px;
}

/* SHAPE */

.landscape{
    width:58%;
    height:120px;
}

/* ===================================== */
/* HEART PERFECT */
/* ===================================== */

.heart{
    width:160px;
    height:160px;

    position:relative;

    transform:rotate(-45deg);

    overflow:hidden;

    margin-top:-20px;

    z-index:10;

    flex-shrink:0;

    box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

/* SHAPE HEART */

.heart::before,
.heart::after{
    content:"";

    position:absolute;

    width:160px;
    height:160px;

    background:white;

    border-radius:50%;
}

/* LINGKARAN KIRI */

.heart::before{
    top:-80px;
    left:0;
}

/* LINGKARAN KANAN */

.heart::after{
    top:0;
    left:80px;
}

/* IMAGE */

.heart img{
    position:absolute;

    width:160px;
    height:160px;

    object-fit:cover;

    transform:rotate(45deg) scale(1.45);

    top:0;
    left:0;

    z-index:2;
}

/* OVERLAY PUTIH AGAR RAPI */

.heart_border{
    position:absolute;

    inset:0;

    background:white;

    z-index:1;
}


.portrait{
    width:28%;
    height:150px;
}
.portrait_2{
    width:38%;
    height:150px;
}

.landscape_small{
    width:72%;
    height:150px;
}

.landscape_big{
    width:68%;
    height:150px;
}

.full{
    width:100%;
    height:170px;
}

.small{
    width:33.333%;
    height:110px;
}

/* ===================================== */
/* LIGHTBOX */
/* ===================================== */

.lightbox{
    position:fixed;
    inset:0;

    background:rgba(0,0,0,0.95);

    z-index:999999;

    display:none;

    justify-content:center;
    align-items:center;
}

.lightbox.active{
    display:flex;
}

.lightbox img{
    width:90%;
    max-width:400px;
    max-height:80vh;
    object-fit:contain;
}

/* CLOSE */

.close_btn{
    position:absolute;
    top:20px;
    right:20px;

    width:45px;
    height:45px;

    border:none;
    border-radius:50%;

    font-size:24px;

    background:white;
}

/* NAV */

.nav_btn{
    position:absolute;
    top:50%;

    transform:translateY(-50%);

    width:50px;
    height:50px;

    border:none;
    border-radius:50%;

    background:white;

    font-size:25px;
}

.prev{
    left:15px;
}

.next{
    right:15px;
}

