
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#dcdcdc;
    overflow-x:hidden;
    font-family:Arial, Helvetica, sans-serif;
}

/* ===================================== */
/* MOBILE WRAPPER */
/* ===================================== */

.mobile_wrapper{
    width:100%;
    max-width:400px;
    margin:auto;
    position:relative;
    overflow:hidden;
    background:white;
}

/* ===================================== */
/* COVER */
/* ===================================== */

.linniel_1{
    position:fixed;
    width:100%;
    max-width:400px;
    height:100vh;
    top:0;
    left:50%;
    transform:translateX(-50%);
    z-index:9999;
    background-image:url('../background/bg_1.jpg');
    background-size:cover;
    background-position:center;
    transition:1.2s ease;
}
.nama_mempelai p{
    line-height: 0.2;
}
.dan_img{
    width: 120px;
}
.nama_mempelai{
    width: 300px;
    margin-top: 10px;
}
.nama{
    font-size: 66px;
    font-family: "Romanesco", cursive;
    font-style: normal;
    filter: drop-shadow(4px 4px 10px white);
}

.tamu{
    padding: 5px 50px;
    border-radius: 20px;
}
.tamu_box{
    padding-bottom: 20px;
}
/* KETIKA DIBUKA */

.linniel_1.open{
    transform:translateX(-180%);
    opacity:0;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.45);
}

.nama_mempelai h1{
    font-size:2.3rem;
    font-weight:bold;
}

#nama_tamu{
    font-weight:bold;
    margin:15px 0;
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
}

/* ===================================== */
/* SECTION 2 */
/* ===================================== */

.linniel_2{
    min-height:100vh;
    display:flex;
    align-items:center;
    padding:20px;
    background-image:url('../background/bg_2.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
    ;
}

.linniel_2 .content{
    background:rgba(0,0,0,0.5);
    padding:30px;
    border-radius:25px;
}

.kutipan{
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
}
.ayat{
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
}
.custom{
    color: red;
}
/* ===================================== */
/* SECTION 3 */
/* ===================================== */

.linniel_3{
    background-image: url('../background/bg_cream.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top:-100px;
    border-radius:40px 40px 0 0;
    position:relative;
    z-index:5;
    padding:50px 20px;
    min-height: 100vh;
}

.mempelai_img{
    width: 180px;
    border: solid 2px black;
    padding: 10px;
    border-radius: 10px;
}
.nama_2{
    font-family: "Romanesco", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
}


/* ===================================== */
/* SECTION 4 */
/* ===================================== */

.linniel_4{
    background-image: url('../background/20.webp');
    background-position: center;
    background-size: cover;
    padding:50px 20px;
    min-height: auto;
}

.wrapper_2{
    position: relative;
    overflow: hidden;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(2px);
}

.wrapper_2::before{

    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../background/bg_cream.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
}

.jadwal{
    width: 280px;
    margin-bottom: 40px;
}

.Pemberkatan p{
    line-height: 0.5;
}

.btn_maps{
    display: inline-block;
    padding: 12px 28px;
    border-radius: 50px;
    background: rgb(250, 240, 220);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

/* ===================================== */
/* SECTION 5 */
/* ===================================== */

.linniel_5{
    color:white;
    padding:100px 20px;
    background-image: url('../background/bg_cream.webp');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.linniel_6{
    background-image: url(../background/bg_3.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}
.kel p{
    line-height: 0.5;
}
.linniel_7{
    background-image: url('../background/bg_cream.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.happy_2{
    width: 330px;
    border-radius: 20px;
    filter: drop-shadow(4px 4px 10px white);
}

/* ===================================== */
/* MUSIC BUTTON */
/* ===================================== */

.music_button{
    position:fixed;

    bottom:20px;

    right:calc(50% - 180px);

    width:55px;
    height:55px;

    border:none;
    border-radius:50%;

    z-index:99998;

    cursor:pointer;
}

/* ===================================== */
/* MOBILE */
/* ===================================== */

@media(max-width:400px){

    .music_button{

        right:20px;

    }

}

